a, p, ul, li, header, h1, html, body {
    all: unset;
}

html {
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
}

body {
    height: 99%;
    display: flex;
    flex-direction: row;
}